/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Library
/Logs
/Simple FPS Game.sln
/Temp
/UserSettings
/Assets/_TerrainAutoUpgrade
/Assets/Darth_Artisan
/Assets/Fantasy Skybox FREE
/Assets/Free Boulder Pack
/Assets/GrassFlowers
/Assets/GVOZDY
/Assets/HealthHeartSystem
/Assets/ImpactSounds
/Assets/Kevin Iglesias
/Assets/NekoLegends
/Assets/Rock Package
/Assets/Scenes
/Assets/ShootingSound
/Assets/Stylized Wood Textures
/Assets/TextMesh Pro
/Assets/TutorialInfo
/Assets/UnityTechnologies
/Assets/InputSystem_Actions.inputactions